<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  
  {{ partial "head" . }}
  
  <body>

  <header>
    <div id="name" class="name">Curtis Wallen</div>

    <nav>
      <ul>
        {{ range where .Site.Pages "Params.collection" true }}
          <li><a href="{{ .RelPermalink }}"><img src="{{ if .Params.images }} {{ range first 1 .Params.images }} {{ .asset.url }}?auto=format&w=1200&q=100 {{ end }} {{ end }}">{{ .Params.shortTitle }}</a></li>
        {{ end }}
        <li><a href="/info"><img src="">Info</a></li>
      </ul>
    </nav>
  </header>


  {{ block "main" . }}{{ end }}


  {{ partial "foot" . }}

  {{ $modernizr := resources.Get "js/vendor/modernizr-3.11.2.min.js" }}
  {{ $jquery := resources.GetRemote "https://code.jquery.com/jquery-3.6.1.min.js" }}
  {{ $masonry := resources.Get "js/vendor/masonry.pkgd.min.js" }}
  {{ $simplelightbox := resources.Get "js/vendor/simple-lightbox.js" }}
  {{ $imagesloaded := resources.Get "js/vendor/imagesloaded.pkgd.min.js" }}
  {{ $swiper := resources.Get "js/vendor/swiper-bundle.min.js" }}
  {{ $plugins := resources.Get "js/plugins.js" }}
  {{ $main := resources.Get "js/main.js" }}

  {{ $fullscript := slice $modernizr $jquery $masonry $simplelightbox $imagesloaded $swiper $plugins $main | resources.Concat "js/vendor.js" | minify | fingerprint }}
  <script src="{{ $fullscript.RelPermalink }}" integrity="{{ $fullscript.Data.Integrity }}"></script>

  </body>

</html>