/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --bg-color: #FBFBFB;
  --text-color: #242424;
  --accent-color: #002FA7;
}

body {
  font-family: 'Arial';
  font-size: .75rem;
  padding: 4vh;
  color: var(--text-color);
  font-weight: 100;
  background: var(--bg-color);
}

li {
  list-style-type: none;
  padding-bottom: 5px;
  padding-right: 2px;
  display: block;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

p {
  margin-top: 0;
}

.active {
  color: var(--accent-color);
}

header {
  z-index: 500;
}

nav {
  margin-top: 4vh;
  width: 100%;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header ul img {
  display: none;
}

header li {
  display: inline-block;
  margin-right: 4vw;
  margin-bottom: 4vh;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mode-toggle {
  cursor: pointer;
}

#name-arrow {
  display: inline-block;
  width: 20px;
  text-align: center;
}

#bg img {
  max-height: 70vh;
  z-index: 199;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  display: flex;
  min-height: 92vh;
  flex-direction: column;
}

#image-text {
  color: var(--text-color);
  text-align: center;
  font-size: 8rem;
  z-index: 200;
  position: absolute;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  cursor: pointer;
}

.name:hover {
  color: black;
}

#homepage-images {
  display: none;
}

#info {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page-info {
  z-index: 105;
}

#page-text {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 1em;
}

#page-title {
  color: var(--accent-color);
}

#page-credits a {
  text-decoration: underline;
}

#thumb-line {
  width: 450px;
}

#thumb-line img {
  height: 6vh;
}

#thumb-line ul {
  padding: 0;
  margin: 0;
  padding-bottom: 2vh;
}

#thumb-line li {
  display: inline-block;
  padding-bottom: 5px;
  padding-right: 5px;
}

#page-images {
  flex: 1;
  text-align: center;
  margin-top: 4vh;
}

.grid {
  opacity: 0;
}

.grid.masonry {
  opacity: 1;
}

.grid-sizer,
.grid-item {
    width: calc(19vw - 2vh);
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 7vw;
    text-align: center;
}

.gutter-sizer {
  width: 7vw;
}

.grid-item a {
  overflow: hidden;
}

.grid-item img {
    width: 100%;
}

.preview {
  filter: blur(2em);
}

.mySwiper img {
  max-height: 70vh;
}

#thumb-grid {
  padding-top: 10px;
}

#swiper-nav-wrapper {
  display: block;
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-wrapper {
  margin: 0;
}

.swiper-navigation {
  display: inline-block;
  padding-right: 20px;
}

.swiper-grid {
  display: inline-block;
  cursor: pointer;
  padding-left: 20px;
}

.swiper-pagination {
  position: relative;
  display: inline-block;
}

.swiper-pagination-fraction {
  width: auto;
  bottom: 1px;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}

.sl-wrapper .sl-close {
  font-size: 1em;
  right: 44px;
}

.sl-wrapper .sl-counter {
  font-size: 1em;
}

.sl-wrapper .sl-navigation button.sl-next,
.sl-wrapper .sl-navigation button.sl-prev {
  font-size: 1.5em;
  height: 400px;
}

.sl-wrapper .sl-navigation button {
  margin-top: -200px;
}

.progressive {
  display:block;
  outline:none; 
  position:relative;
}

.progressive img { 
  border:0;
  display:block;
  max-width:none;
  width:100%; }

.progressive img.reveal{animation:progressiveReveal 0ms linear;left:0;position:absolute;top:0}
@keyframes progressiveReveal{0%{opacity:0}to{opacity:1}}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  body {
    padding: 3vw;
  }

  header li {
    display: block;
    margin-bottom: 0;
  }

  #content {
    min-height: 94vh;
  }

  #bg img {
    max-height: 100vh;
    height: 100vh;
  }

  #page-images {
    margin-bottom: 4vh;
  }

  .grid-sizer,
  .grid-item {
      width: 43vw;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 7vw;
      text-align: center;
  }

  #thumb-line {
    width: 100%;
  }

  #thumb-line img {
    height: 6vh;
  }

  #page-text {
    justify-content: space-between;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

