<head>
  <meta charset="utf-8">
  <title>Curtis Wallen {{ if .Params.shortTitle }} - {{ .Params.shortTitle }} {{ end }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  {{ $cssnormalize := resources.Get "css/normalize.css" }}
  {{ $cssswiper := resources.Get "css/swiper-bundle.min.css" }}
  {{ $csssimplelightbox := resources.Get "css/simple-lightbox.css" }}
  {{ $cssmain := resources.Get "css/main.css" }}
  {{ $allcss := slice $cssnormalize $cssswiper $csssimplelightbox $cssmain | resources.Concat "css/vendor.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $allcss.RelPermalink }}">

  <meta name="theme-color" content="#fff">
</head>