{{ define "main" }}

	<div class="grid">
		<div class="grid-sizer"></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r081872.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r081872.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
		<div class="grid-item"><a href="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"><img class="lazyload" src="https://www.curtiswallen.com/site/assets/files/1/r084452.jpg"></a></div>
	</div>

{{ end }}